---
const date = new Date();
const copyWriteDate = date.getFullYear();
---

<footer class="absolute w-full bottom-0 flex justify-center">
  <p class="text-[0.5rem]">Copyright © {copyWriteDate} YOO TAEYANG. All Rights Reserved.</p>
</footer>
