---
const { linkHoverState } = Astro.props;
---

<section class="p-5">
  <h1 class="font-extrabold mb-2">유태양 | YOO TAEYANG</h1>
  <ul>
    <li>
      <a
        class="italic"
        href="/about/"
        >About Me</a
      >
    </li>
    <li>
      <a
        class="italic"
        href="/projects/"
        >Projects</a
      >
    </li>
    <li>
      <a
        class="italic"
        href="/cv/"
        >CV</a
      >
    </li>
  </ul>
</section>
