---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>유태양의 개인 블로그</h1>
    <ul>
      <li><a href="/posts/dc0109/">P</a></li>
      <li><a href="/posts/philosophy/2023/ph0121">P</a></li>
    </ul>
  </body>
</html>
