---
import "../styles/global.css";
import Footer from "../components/main-page/Footer.astro";
import Main from "../components/main-page/Main.astro";

const linkHoverState = false;
---

<html lang="kr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>유태양 | YOO TAEYANG</title>
  </head>
  <body class="overflow-hidden">
    <main>
      <Main linkHoverState={linkHoverState} />
      <Footer />
    </main>
  </body>
</html>
