---
import '@fontsource/noto-sans-kr';
---

<html lang="kr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>yootaeyang</title>
  </head>
  <body>
    <h1 class="text-3xl">안녕하세요</h1>
  </body>
</html>
