---
import '@fontsource/noto-sans-kr';
---

<html lang="kr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>yootaeyang</title>
  </head>
  <body class="min-h-screen flex justify-center items-center">
    <main class="w-[400px] h-[400px] flex justify-center items-center border-2 border-pink-900">
      <section class="w-[300px] h-[300px] border-2 border-emerald-800 rounded-full">main</section>
      <nav class="absolute w-[350px] h-[350px] border-3 border-cyan-700">
        <svg viewBox="0 0 350 350">
          <text
            x="10"
            y="100"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, obcaecati architecto. Ex, repellat
            provident illo consequuntur eius sunt voluptatem fuga?
          </text>
        </svg>
      </nav>
      <div></div>
    </main>
  </body>
</html>
