---
import '@fontsource/noto-sans-kr';
---

<html lang="kr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>yootaeyang</title>
  </head>
  <body class="min-h-screen flex justify-center items-center">
    <main class="w-[300px] h-[300px] bg-main-image bg-contain bg-no-repeat rounded-full bg-center">
      <nav></nav>
      <div></div>
    </main>
  </body>
</html>
